<div class="container mt-5">
    <div class="row">
        {{#each products}}
        <div class="col-lg-3">
            <div class="card mt-2" style="width: 18rem;">
                <div style="margin: auto;">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt={{this._id}} style="width: 150px; height: 200px;">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p style="color: gray;">{{this.category}}</p>
                    <p class="card-text">Rs: {{this.price}}/-</p>
                    <a href="/addtocart/{{this._id}}" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    
</div>
